[submodule "cots/aeten-make"]
	path = cots/aeten-make
	url = https://gitlab.com/aeten/aeten-make.git
	branch = master
	sparse-checkout = generate-builder\n \
	                  ninja2make
[submodule "cots/aeten-cli"]
	path = cots/aeten-cli
	url = https://gitlab.com/aeten/aeten-cli.git
	branch = master
	sparse-checkout = aeten-cli.sh\n \
	                  aeten-ads
[submodule "cots/aeten-git-tools"]
	path = cots/aeten-git-tools
	url = https://gitlab.com/aeten/aeten-git-tools.git
[submodule "cots/plantuml"]
	path = cots/plantuml
	url = https://github.com/aeten/plantuml.git
	branch = xmi-output-improvements
